.task {
    margin: 0.5rem auto;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: auto;
    border-radius: 20px;
    background-color: rgb(4,170,109);
    color: white;
}

.task-text {
    width: 60vw;
    overflow-wrap: break-word;
}

.buttons {
    width: auto;
    text-align: center;
}

.task button {
    color: white;

}

.task button:hover {
    cursor: pointer;
    color: rgb(20,270,109);;
}

.task:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(62, 120, 97);
    color: white;
}
