@media (max-width: 1000px) {
    .input-container input {
        width: 40vw;
    }

    .input-container button {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
        height: 20vh;
        padding: 0.3rem;
    }

    .input-container input {
        width: 70vw;
    }

    .input-container button {
        margin: 0.5rem auto 0
    }

}