@media (max-width: 1350px) {
    .input-buttons {
        width: 15vw;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .input-container input {
        width: 40vw;
    }
    .input-container button {
        font-size: 0.8rem;
    }
    .input-buttons {
        width: 20vw;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
        height: 20vh;
        padding: 0.3rem;
    }
    .input-container input {
        width: 65vw;
        text-align: center;
    }
    .input-container button {
        margin: 0.5rem auto 0
    }
    .input-buttons {
        width: 50vw;
        text-align: center;
        margin: 0 auto 0.5rem;
    }
}